{% extends "base.html" %}

{% block content %}

<h2 style="text-align:center;">
  {% if candidate_skill %} Edit Skill {% else %} New Skill {% endif %}
</h2>

<form method="POST" style="max-width:800px; margin:0 auto;"
      action="{% if candidate_skill %}
                {{ url_for('candidate_skill_routes.edit_candidate_skill', id=candidate_skill.ID) }}
              {% else %}
                {{ url_for('candidate_skill_routes.create_candidate_skill', candidate_id=candidate_id) }}
              {% endif %}">
              
    <div style="display:flex; gap:15px; flex-wrap:wrap; margin-bottom:15px;">
        <div>
            <label>Skill</label><br>
            <select name="skill_id" style="width: 250px;">
                <option value=""></option>
                {% for item in skills %}
                    <option value="{{ item.ID }}"
                        {% if candidate_skill and candidate_skill.SKILL_ID == item.id %}selected{% endif %}>
                        {{ item.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>

    <!-- ACTIONS -->
    <div style="display:flex; justify-content:space-between; margin-top:20px;">
        <!-- Cancel -->
        <button type="button"
                onclick="window.location.href='{{ url_for('candidate_routes.view_candidate', id=candidate_id) }}'"
                style="background-color: rgb(124, 0, 0); color: white; border: none; padding: 8px 14px; border-radius: 6px; cursor: pointer;">
            Cancel
        </button>

        <!-- Save -->
        <button type="submit"
                style="background-color: rgb(21, 124, 0); color: white; border: none; padding: 8px 14px; border-radius: 6px; cursor: pointer;">
            Save
        </button>
    </div>

</form>

{% endblock %}