{% extends "base.html" %}

{% block content %}

<h2 style="text-align:center;">Enterprise Details</h2>


<div style="width:100%; text-align:right; margin-bottom:15px;">


    <button <a class="btn-new-enterprise" type="button"
        onclick="window.location.href='{{ url_for('enterprise_routes.edit_enterprise', id=enterprise.ID, next='view') }}'"
        style="background-color: #6163d6;
               color: white;
               border: none;
               padding: 8px 14px;
               border-radius: 6px;
               cursor: pointer;">
        Edit
        </a>
    </button>

</div>

<hr>

<div style="max-width: 600px; margin: 0 auto;">

    <p>
        <strong>ID:</strong>
        {{ enterprise.ID }}
    </p>

    <p>
        <strong>Name:</strong>
        {{ enterprise.NAME }}
    </p>

    <p>
        <strong>Situation:</strong>
        {{ 'Active' if enterprise.SITUATION == 'A' else 'Inactive' }}
    </p>

    <p>
        <strong>Created At:</strong>
        {{ enterprise.CREATED_AT.strftime('%d/%m/%Y %H:%M:%S') }}
    </p>

    <p>
        <strong>Updated At:</strong>
        {{ enterprise.UPDATED_AT.strftime('%d/%m/%Y %H:%M:%S') }}
    </p>

</div>

<hr>


{% endblock %}